@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
ul li{
    list-style: none;
}
body{
    font-family:'microsoft yahei';
    overflow:hidden;
}
@font-face
{
font-family: 'lisu';
src: url('SIMLI.ttf');
}
#menu{font-family: "lisu","隶书";color:#fff;}
.list-btn li span{
  font-size: 38px;
}
.active span{
  font-size: 42px !important;
  font-weight: 600;
}
.box{
    width: 1920px;
    height: 1080px;
    background: #6552EB;
    /*background: url("../img/loading/watermark.png") no-repeat;*/
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    display: table; 
}
.item{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    z-index: 1;
    position: relative;
}
.item-inner{
    text-align: center;
    display: inline-block;
}
.item-title{
    margin-top: 10px;
    font-size: 24px;
}
.la-square-jelly-box,.la-square-jelly-box>div{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.la-square-jelly-box{display:block;font-size:0;color:#fff}
.la-square-jelly-box.la-dark{color:#333}
.la-square-jelly-box>div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor;}
.la-square-jelly-box{width:32px;height:32px}
.la-square-jelly-box>div:nth-child(1),.la-square-jelly-box>div:nth-child(2){position:absolute;left:0;width:100%}
.la-square-jelly-box>div:nth-child(1){top:-25%;z-index:1;height:100%;border-radius:10%;-webkit-animation:square-jelly-box-animate 0.6s -0..7s linear infinite;-moz-animation:square-jelly-box-animate 0.6s -0..7s linear infinite;-o-animation:square-jelly-box-animate 0.6s -0..7s linear infinite;animation:square-jelly-box-animate 0.6s -0..7s linear infinite}
.la-square-jelly-box>div:nth-child(2){bottom:-9%;height:10%;background:#000;border-radius:50%;opacity:.2;-webkit-animation:square-jelly-box-shadow 0.6s -0..7s linear infinite;-moz-animation:square-jelly-box-shadow 0.6s -0..7s linear infinite;-o-animation:square-jelly-box-shadow 0.6s -0..7s linear infinite;animation:square-jelly-box-shadow 0.6s -0..7s linear infinite}
.la-square-jelly-box.la-sm{width:16px;height:16px}
.la-square-jelly-box.la-2x{width:100px;height:100px}
.la-square-jelly-box.la-3x{width:96px;height:96px}@-webkit-keyframes square-jelly-box-animate{17%{border-bottom-right-radius:10%}25%{-webkit-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}50%{border-bottom-right-radius:100%;-webkit-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}75%{-webkit-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}100%{-webkit-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}}@-moz-keyframes square-jelly-box-animate{17%{border-bottom-right-radius:10%}25%{-moz-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}50%{border-bottom-right-radius:100%;-moz-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}75%{-moz-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}100%{-moz-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}}@-o-keyframes square-jelly-box-animate{17%{border-bottom-right-radius:10%}25%{-o-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}50%{border-bottom-right-radius:100%;-o-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}75%{-o-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}100%{-o-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}}@keyframes square-jelly-box-animate{17%{border-bottom-right-radius:10%}25%{-webkit-transform:translateY(25%) rotate(22.5deg);-moz-transform:translateY(25%) rotate(22.5deg);-o-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}50%{border-bottom-right-radius:100%;-webkit-transform:translateY(50%) scale(1, 0.9) rotate(45deg);-moz-transform:translateY(50%) scale(1, 0.9) rotate(45deg);-o-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}75%{-webkit-transform:translateY(25%) rotate(67.5deg);-moz-transform:translateY(25%) rotate(67.5deg);-o-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}100%{-webkit-transform:translateY(0) rotate(90deg);-moz-transform:translateY(0) rotate(90deg);-o-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}}@-webkit-keyframes square-jelly-box-shadow{50%{-webkit-transform:scale(1.25, 1);transform:scale(1.25, 1)}}@-moz-keyframes square-jelly-box-shadow{50%{-moz-transform:scale(1.25, 1);transform:scale(1.25, 1)}}@-o-keyframes square-jelly-box-shadow{50%{-o-transform:scale(1.25, 1);transform:scale(1.25, 1)}}@keyframes square-jelly-box-shadow{50%{-webkit-transform:scale(1.25, 1);-moz-transform:scale(1.25, 1);-o-transform:scale(1.25, 1);transform:scale(1.25, 1)}}
#menuBox{
	position: absolute;
	width:1920px;
	height:1080px;
	top:0;
	left:0;
  display: none;
  z-index: 999;
}
#menu{
    height: 1080px;
    width: 340px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
}
/*show*/
.rotateInDownLeft ul li{
  display: block;
}
.rotateInDownLeft ul li:nth-child(1) {
  margin-left: 100%;
  animation: sliderA 0.5s ease-out forwards;
  -webkit-animation: sliderA 0.5s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(2) {
  margin-left: 100%;
  animation: sliderA 0.5s 0.2s ease-out forwards;
  -webkit-animation: sliderA 0.5s 0.2s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(3) {
  margin-left: 100%;
  animation: sliderA 0.5s 0.4s ease-out forwards;
  -webkit-animation: sliderA 0.5s 0.4s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(4) {
  margin-left: 100%;
  animation: sliderA 0.5s 0.6s ease-out forwards;
  -webkit-animation: sliderA 0.5s 0.6s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(5) {
  margin-left: 100%;
  animation: sliderA 0.5s 0.8s ease-out forwards;
  -webkit-animation: sliderA 0.5s 0.8s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(6) {
  margin-left: 100%;
  animation: sliderA 0.5s 1.0s ease-out forwards;
  -webkit-animation: sliderA 0.5s 1.0s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(7) {
  margin-left: 100%;
  animation: sliderA 0.5s 1.2s ease-out forwards;
  -webkit-animation: sliderA 0.5s 1.2s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(8) {
  margin-left: 100%;
  animation: sliderA 0.5s 1.4s ease-out forwards;
  -webkit-animation: sliderA 0.5s 1.4s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(9) {
  margin-left: 100%;
  animation: sliderA 0.5s 1.6s ease-out forwards;
  -webkit-animation: sliderA 0.5s 1.6s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(10) {
  margin-left: 100%;
  animation: sliderA 0.5s 1.8s ease-out forwards;
  -webkit-animation: sliderA 0.5s 1.8s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(11) {
  margin-left: 100%;
  animation: sliderA 0.5s 2s ease-out forwards;
  -webkit-animation: sliderA 0.5s 2s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(12) {
  margin-left: 100%;
  animation: sliderA 0.5s 2.2s ease-out forwards;
  -webkit-animation: sliderA 0.5s 2.2s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(13) {
  margin-left: 100%;
  animation: sliderA 0.5s 2.4s ease-out forwards;
  -webkit-animation: sliderA 0.5s 2.4s ease-out forwards;
}
.rotateInDownLeft ul li:nth-child(14) {
  margin-left: 100%;
  animation: sliderA 0.5s 2.6s ease-out forwards;
  -webkit-animation: sliderA 0.5s 2.6s ease-out forwards;
}
cs sliderA {
  0% {margin-left:100%;}
  80%{margin-left: -4%;}
  100% {margin-left:0%;}
}
@-webkit-keyframes sliderA {
  0% {margin-left:100%;}
  80%{margin-left: -4%;}
  100% {margin-left:0%;}
}

.watermark{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
}
.rotateOutDownRight ul li{
    display: none;
}
.list-btn{
    position: relative;
    z-index: 102;
    height: 1044px;
    overflow: hidden;
}
.list-btn li{
    overflow: hidden;
    width: 100%;
    height: 110px;
    margin-top: 20px;
    line-height: 110px;
    text-align: center;
    background: url("../images/uncheck.png") right 0 no-repeat;
    background-size: 97% 100%;
}
.list-btn .active{
  background: url("../images/check.png") 0 0 no-repeat;
  background-size: 100% 100%;
}
.mask{
    height: 1080px;
    width: 1920px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: #fff;
    opacity: .2;
    z-index: 998;
    display: none;
}
::-webkit-scrollbar {
    width: 18px;
    height: 5px;
    background-color: #F5F5F5; 
    opacity: .5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
@keyframes bounceInDown {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
    opacity: 0;
    transform: translate3d(0,-3000px,0)
  }

  60% {
    opacity: 1;
    transform: translate3d(0,25px,0)
  }

  75% {
    transform: translate3d(0,-10px,0)
  }

  90% {
    transform: translate3d(0,5px,0)
  }

  to {
    transform: none
  }
}
@-webkit-keyframes bounceInDown {
  0%,60%,75%,90%,to {
    -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-3000px,0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0,25px,0)
  }

  75% {
    -webkit-transform: translate3d(0,-10px,0)
  }

  90% {
    -webkit-transform: translate3d(0,5px,0)
  }

  to {
    -webkit-transform: none
  }
}
.bounceInDown {
  animation: bounceInDown 1s;
  -webkit-animation: bounceInDown 1s;
}
@keyframes bounceOutUp{20%{transform:translate3d(0,-10px,0)}
40%,45%{opacity:1;transform:translate3d(0,20px,0)}
to{opacity:0;transform:translate3d(0,-2000px,0)}
}
@-webkit-keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0)}
40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0)}
to{opacity:0;-webkit-transform:translate3d(0,-2000px,0)}
}
.bounceOutUp{animation:bounceOutUp 1s forwards;-webkit-animation:bounceOutUp 1s forwards}

.box-in {
    position: absolute;
    width: 184;
    height: 316px;
    left: 1442px;
    top: 365px;
    opacity: 0;
    z-index: 1000;
    display: block;
}
.box-in1{
    position: absolute;
    width: 184;
    height: 316px;
    left: 1442px;
    top: 388px;
    opacity: 0;
    z-index: 1000;
    display: block;
}
.bounceInDown{
    animation:bounceInDown .3s ease both;
    -webkit-animation:bounceInDown .3s ease both;
}
@keyframes bounceInDown{
    0%{opacity:0;
    transform:scale(1.6)}
    50%{opacity:.5;
    transform:scale(0.8)}
    80%{opacity:.8;
    transform:scale(.85)}
    100%{opacity:1;
    transform:scale(0.8)}
}
@-webkit-keyframes bounceInDown{
    0%{opacity:0;
    -webkit-transform:scale(1.6)}
    50%{opacity:.5;
    -webkit-transform:scale(0.8)}
    80%{opacity:.8;
    -webkit-transform:scale(.85)}
    100%{opacity:1;
    -webkit-transform:scale(0.8)}
}
.ds_n{display: none}
.contentDown {
  position: absolute;
  width: 1920px;
  height: auto;
  bottom: 0px;
  left: 0px;
  bottom: 0;
  z-index: 107;
}
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.classVid{
  position: relative;
}
.classVid:after{
  opacity: 0;
  content: "";
  width: 62px;
  height: 108px;
  position: absolute;
  top: 628px;
  left: 240px;
  background: url(../images/class.png) 0 0 no-repeat;
  -webkit-animation: fadeIn .5s forwards;
  animation: fadeIn .5s forwards;
  background-size: 336px 531px;
  z-index: 108;
}
.classVid:before{
  opacity: 0;
  content: "";
  width: 59px;
  height: 180px;
  position: absolute;
  top: 671px;
  left: 185px;
  background: url(../images/sub.png) 0 0 no-repeat;
  -webkit-animation: fadeIn .5s forwards;
  animation: fadeIn .5s forwards;
  background-size: cover;
  z-index: 108;
  display: none;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.scrollBar::-webkit-scrollbar {/*滚动条整体样式*/
      width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
      height: 1px;
  }
.scrollBar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
      border-radius: 10px;
       -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: #535353;
  }
.scrollBar::-webkit-scrollbar-track {/*滚动条里面轨道*/
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      border-radius: 10px;
      background: #EDEDED;
}